* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: #9999;
    overflow-x: hidden;
}

.main {
    overflow-x: hidden;
    height: 20vh;
    width: 100vw;


    background-color: black;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}

.head {
    height: 12vh;
    width: 99vw;
    z-index: 3;
    display: flex;
    position: relative;
}
.head1 {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;


    font-size: 40px;
    font-weight: 1000;
    color:white;
}

.head2 {
    position: absolute;
    right: 40px;
    color:white;
    top: 10px;
    display: flex;
    
    flex-direction: row;
}
.flexi{
   padding: 30px;
}
.flexi:hover{
    color: green;
 }
 .maino{
    display: flex;
    background: url(download\ \(2\).jfif);
    background-size: cover;
    
    justify-content: space-evenly;

 }
 .main1{
    padding: 160px;
    margin-left: 80px;
 }
 .main2{
    padding: 110px;
    color: white;
    font-size: 39px;
    margin-top: 80px;
 }
 .h{
    display: flex;
    background-color: black;
   
    justify-content: center;
    height: 250px;
 }
 .h1{
    color: white;
    margin-top: 100px;
 }
 .main2 b:hover{
    background-color: blueviolet ;
 }
 div.sparsh {
    background-color: black;
    display: flex;
    justify-content:space-evenly;
}
.faq{
    background: url(download\ \(2\).jfif);
    background-size: cover;
    height: 240px;
    display: flex;
    justify-content: center;
    padding: 40px;
}
div.t{
    background: url(download\ \(2\).jfif);
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
}